<style>
.bg-img {
  /* The image used */
  background-image: url('../img/jigsaw-puzzle-wood-stock-photography-puzzle-wood-texture.png');
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  min-height: 667px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  bottom: 200px;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 20px;
}

/* Full-width input fields */
input{
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 12px;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #111;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 12px;
}

.btn:hover {
  opacity: 1;
  border-radius: 9px;
}

.container_form {
    margin-top: 1px;
    position: relative;
}
</style>

<h2>Step 1: User Registration</h2>
<div class="bg-img"></div>
<div class="container_form">
  <form action="" class="container">
    <h1>Register</h1>

    <label for="name"><b>Name</b></label>
    <input type="text" name="name" placeholder="Name" data-field="name"/>

    <label for="phone"><b>Phone</b></label>
    <input type="phone" name="phone" placeholder="Phone" data-field="phone"/>

    <label for="email"><b>EMAIL</b></label>
    <input type="email" name="email" placeholder="E-Mail" data-field="email"/>

    <button type="button" class="btn formstart">START</button>
  </form>
</div>
